<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


	<context:component-scan base-package="com.spring.config,com.spring.shouldSkip"></context:component-scan>

	<context:property-placeholder location="classpath:db.properties"></context:property-placeholder>

	<bean id="user" class="com.spring.entity.User">
		<property name="name" value="peter"></property>
		<property name="age" value="21"></property>
	</bean>

	<bean class="com.spring.beanFactoryPostProcessor.MyBeanFactoryPostProcessor"></bean>

	<bean class="com.spring.selfBDRPP.MyBeanDefinitionRegistryPostProcessor"></bean>

	<!--	<bean id="studentConverter" class="com.spring.selfConverter.StudentConverter"></bean>-->
	<!--	<bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">-->
	<!--		<property name="converters">-->
	<!--			<set>-->
	<!--				<ref bean="studentConverter"></ref>-->
	<!--			</set>-->
	<!--		</property>-->
	<!--	</bean>-->
</beans>